# 忽略 VitePress 缓存和构建文件
.vitepress/cache/
.vitepress/dist/
.temp/
dist/
node_modules/
gh-pages-TEMP/

# 在项目根目录的 .gitignore 文件中添加：
.cache/
node_modules/
docs/.vitepress/cache/
*.map
*.local

# 忽略自动生成的静态资源元数据
hashmap.json
vp-icons.css

# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略编辑器文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# 本地调试日志
*.log
npm-debug.log*
yarn-debug.log*

# 本地环境变量
.env
.env.local